@import '../../assets/sass/main.scss';

.analise__section{
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 58px;
    font-family: $font-outfit;
    height: 100vh;
    width: 100%;
    background: url('../../assets/img/hero-bg.png') no-repeat center center / cover;
    padding: 0 12rem;
    padding-top: 2.5rem;
    

}
.analise__header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.analise__header-icon{
    height: 40px;
}

.analise__header-option-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3px;
}
.analise__header-option{
   width: 5px;
   height: 5px;
   background-color: white;
   border-radius: 50%;
}


.analise__header-user{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.analise__header-icon-user{
    height: 45px;
    width: 45px;
    border-radius: 50%;
    background-image: url("../../assets/img/ellipse3.svg");

}

  