$color-white: #ffffff;
$color-blue: #071CD9;
$color-black: #000000;
$color-lightblue: #1BADFF;
$color-footer-bg: #180708;
$color-prompt-bg: #12141F;
$color-prompt-card: #1F2133;
$color-prompt-text: #ffffff;
$color-send-btn: #071CD9;